*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list-container {
    border: 1px solid red;
    width: fit-content;
    padding: 20px 20px 20px;
}

.list-container li {
    list-style: none;
}

.search-box {
    padding: 5px;
    margin-bottom: 20px;
}
